# Gitsplit
/.gitsplit

# Vagrant
/.vagrant/

/.idea/

# Ansible
/ansible/**/*.retry
/ansible/group_vars/*_local.yml
/ansible/roles/*
!ansible/roles/.gitkeep

# dependencies
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
