@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 70px 0 0;
}

.with-submit-section {
  margin-bottom: 100px;
}

.submit-section {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 20px;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.dropdown-menu button {
  display: block;
  text-align: left;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.dropdown-menu button:hover,
.dropdown-menu button:focus,
.dropdown-menu button:active,
.dropdown-menu button:active:focus,
.dropdown-menu button:active:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #262626;
  outline: 0;
  box-shadow: none;
}
