@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 70px 0 0;
}

.with-submit-section {
  margin-bottom: 100px;
}

.submit-section {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 20px;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
