{% extends ':Admin/Form:base_form_layout.html.twig' %}

{% block title 'admin.user.update.title'|trans %}

{% block form_title %}
    <a href="{{ path('admin_user_list', {'institution': institution.id}) }}">{{ institution.name }}</a> | {{ 'admin.user.update.title'|trans }}
{% endblock form_title %}

{% block goback_link path('admin_user_list', {'institution': institution.id}) %}
